
.ProgressBar__bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}

.ProgressBar__bar:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: block;
    margin-left: -1px;
    z-index: 1;
    background-color: #4370ae;
    @apply h-3;
    @apply w-3;
    @apply rounded-full;
}