@iterations: 19;

/* .delay-loop (@i) when (@i > 0) {
    .delay-@{i} {
        animation: dropper ease-in;
        animation-duration: 2s;
        animation-delay:~"calc(0.1s * @{i})";
        animation-iteration-count: 1;
    }

    .delay-loop(@i - 1);
} */

/* // .delay-loop (@iterations); */

/* // .dropdown {
//     transform: translateY(0);
//     display: inline-flex;
//     opacity: 0;
//     transition: opacity 0.3s;
// } */

.pulse:hover {
    animation: fadeInOut;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes dropper {
    from {
        transform: translateY(-50vh);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.6;
    }
}